<launch>
  <!-- Localization-only mode -->
  <arg name="localization"      default="false"/>
  <arg     if="$(arg localization)" name="rtabmap_args"  default=""/>
  <arg unless="$(arg localization)" name="rtabmap_args"  default="--delete_db_on_start"/>  

  <include file="$(find kobuki_node)/launch/minimal.launch"/>

  <include file="/home/gjl/catkin_ws/src/realsense-2.1.0/realsense2_camera/launch/rs_rgbd.launch"/>
  <node pkg="tf" type="static_transform_publisher" name="tfff" args="0 0 0.30 0 0 0 1 base_footprint  camera_link 100"/>
  <!-- Kinect cloud to laser scan -->
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
      <remap from="image"     to="/camera/depth/image_rect_raw"/>
      <remap from="camera_info" to="/camera/color/camera_info"/>
      <remap from="scan" to="/kinect_scan"/>
      <param name="range_max" type="double" value="4"/>
      <param name="output_frame_id" type="str" value="base_footprint"/>
    </node>

  <!-- SLAM (robot side) -->
  <group ns="rtabmap">
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap"  args="$(arg rtabmap_args)">
      <param name="frame_id"            type="string" value="base_footprint"/>
      <param name="subscribe_scan"      type="bool" value="true"/>
      <param name="use_action_for_goal" type="bool" value="true"/>
      <param name="cloud_decimation"    type="int" value="4"/>                    <!-- we already decimate in memory below -->
      <param name="grid_eroded"         type="bool" value="true"/>
      <param name="grid_cell_size"      type="double" value="0.05"/>

      <remap from="odom"    to="/odom"/>
      <remap from="scan"    to="/kinect_scan"/>
      <remap from="mapData" to="mapData"/>

      <remap from="rgb/image" to="/camera/color/image_rect_color"/>
      <remap from="depth/image" to="/camera/depth/image_rect_raw"/>
      <remap from="rgb/camera_info" to="/camera/color/camera_info"/>


      <remap from="goal_out"  to="current_goal"/>	
      <remap from="move_base" to="/move_base"/>
      <remap from="proj_map"  to="/map"/>

      <!-- RTAB-Map's parameters -->
      <param name="RGBD/NeighborLinkRefining" type="string" value="false"/>           
      <param name="RGBD/ProximityBySpace"     type="string" value="true"/>
  
      <param name="Reg/Strategy"              type="string" value="0"/>                    
	 
      <param name="RGBD/AngularUpdate"        type="string" value="0.1"/>    
      <param name="RGBD/LinearUpdate"         type="string" value="0.1"/> 
      <param name="RGBD/LocalRadius"          type="string" value="5"/>
	  
      <param name="Mem/RehearsalSimilarity"   type="string" value="0.45"/>
      <param name="Mem/NotLinkedNodesKept"    type="string" value="false"/>
      <param name="Mem/ImageDecimation"       type="string" value="1"/>
      
      <param name="Rtabmap/StartNewMapOnLoopClosure" type="string" value="false"/>
      <param name="Rtabmap/TimeThr"           type="string" value="600"/>
      <param name="Rtabmap/DetectionRate"     type="string" value="1"/>

      <param name="Mem/RawDescriptorsKept"    type="string" value="true"/>
      <param name="RGBD/LoopClosureReextractFeatures" type="string" value="false"/>
      <param name="Mem/UseDepthAsMask"        type="string" value="true"/>
      <param name="Reg/Force3DoF"             type="string" value="true"/>
      <param name="Vis/EstimationType"        type="string" value="1"/>

      <param name="Bayes/PredictionLC"        type="string" value="0.1 0.36 0.30 0.16 0.062 0.0151 0.00255 0.00035"/>

      <param name="Optimizer/Slam2D"           type="string" value="true"/>
      <param name="Optimizer/Iterations"      type="string" value="100"/>
      <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
      <param name="Optimizer/Strategy"        type="string" value="1"/>      
      <param name="Optimizer/Robust"          type="string" value="false"/>
      <param name="Optimizer/VarianceIgnored" type="string" value="true"/>
      <param name="RGBD/PlanStuckIterations"  type="string" value="10"/>

      <param name="Kp/DetectorStrategy"       type="string" value="0"/>
      <param name="Kp/MaxFeatures"            type="string" value="300"/>

      <param name="SURF/HessianThreshold"     type="string" value="500"/>
      
      <!-- localization mode -->
      <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
      <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
      <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/> 
   </node>
  </group>
  


  <!-- ROS navigation stack move_base -->
  <group>
     <remap from="scan" to="/kinect_scan"/>
     <remap from="obstacles_cloud" to="/obstacles_cloud"/>
     <remap from="ground_cloud" to="/ground_cloud"/>
     <remap from="map" to="/map"/>
     
     <arg name="observation_sources" value="point_cloud_sensorA point_cloud_sensorB"/>   
     <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
        <param name="base_global_planner" value="navfn/NavfnROS"/>
        <param name="global_costmap/obstacle_layer/observation_sources" value="$(arg observation_sources)"/>
        <param name="local_costmap/obstacle_layer/observation_sources" value="$(arg observation_sources)"/>
	<remap from="cmd_vel" to="mobile_base/commands/velocity"/>
     </node>
   		
     <param name="cmd_vel/abtr_priority" value="10"/>
  </group>



  <!-- Throttling messages -->


    <!-- for the planner -->
    <node pkg="nodelet" type="nodelet" name="points_xyz_planner" args="load rtabmap_ros/point_cloud_xyz kinect2">
      <remap from="depth/image"            to="/camera/depth/image_rect_raw"/>
      <remap from="depth/camera_info"      to="/camera/aligned_depth_to_color/camera_info"/>
      <remap from="cloud"                  to="cloudXYZ" />
      <param name="decimation" type="int" value="1"/>                     <!-- already decimated above -->
      <param name="max_depth"  type="double" value="3.0"/>
      <param name="voxel_size" type="double" value="0.02"/>
    </node>
  
    <node pkg="nodelet" type="nodelet" name="obstacles_detection" args="load rtabmap_ros/obstacles_detection kinect2">
      <remap from="cloud"     to="cloudXYZ"/>
      <remap from="obstacles" to="/obstacles_cloud"/>
      <remap from="ground"    to="/ground_cloud"/>

      <param name="frame_id"             type="string" value="base_footprint"/>		
      <param name="map_frame_id"         type="string" value="map"/>
      <param name="wait_for_transform"   type="bool" value="true"/>
      <param name="Grid/MinClusterSize"     type="int" value="20"/>
      <param name="Grid/MaxObstacleHeight" type="double" value="0.4"/>
    </node> 
    <rosparam file="paramwithMove_Base.yaml" command="load" /> 
</launch>
